/* ===== Advantages =====*/
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-description:not(:last-child) {
    margin-right: 30px;
  }

  &-item {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-details {
    font-size: 14px;
    line-height: 1.714;
  }
}

.advantage-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
