/* ===== Header ===== */
.header {
  .container {
    position: relative;
  }

  .border-header {
    border-bottom: 1px solid #ececec;
  }

  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-contacts {
    text-decoration: none;
  }

  &-menu-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &-menu-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.666;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.navigation {
  display: flex;
  height: 60px;

  align-items: center;
  justify-content: space-between;

  &-list {
    vertical-align: top;
  }

  &-item {
    display: block;
    margin-bottom: 32px;
  }

  &-page {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.166;
  text-decoration: none;

  &-first-part,
  &-first-part:visited {
    color: var(--accent-color);
  }

  &-second-part-header,
  &-second-part-header:visited {
    color: #000000;
  }
}

.menu-button {
  top: 10px;
  right: 0px;

  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 487px) {
    margin-right: 15px;
  }

  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.menu-container {
  display: none;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #fff;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.address {
  &-list {
    display: flex;
  }
  &-item {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contacts-icon-email,
  .contacts-icon-phone {
    display: none;
  }

  .address {
    &-list {
      flex-direction: column-reverse;
      flex-wrap: nowrap;
    }
    &-item {
      margin-bottom: 32px;
    }
  }

  .header-menu-links {
    display: flex;

    li {
      &:not(:first-child) {
        padding-left: 10px;
      }

      &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
    &-nets {
      display: block;
      height: 22px;

      text-decoration: none;
      color: var(--accent-color);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.222;
      letter-spacing: 0.02em;
    }
  }
  .menu-close-button {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-flex;
    margin: 21 25 0 0;
    padding: 0;

    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      fill: var(--accent-color);

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .logo {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
    }

    &-contacts {
      display: flex;
      align-items: center;
    }

    &-menu-phone,
    &-menu-email {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.166;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);

      .header-contacts:hover &,
      .header-contacts:focus & {
        color: var(--accent-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .navigation {
    height: 80px;

    &-list {
      display: flex;
      vertical-align: inherit;
      align-items: center;
    }

    &-item {
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &-page {
      padding: 32px 0px;
      font-size: 14px;
      line-height: 1.142;
    }
  }

  .menu {
    &-button,
    &-close-button {
      display: none;
    }

    &-container {
      position: static;
      display: flex;

      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;
      padding: 0px 0px;
      justify-content: space-between;

      background-color: inherit;
    }
  }

  a.is-current {
    display: block;
    position: relative;

    color: var(--accent-color);
  }

  .is-current {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;

      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .address {
    &-list {
      display: block;
      margin: 21px 0;
    }
    &-item {
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .contacts-icon {
    &-email {
      width: 14px;
      height: 10px;
      fill: var(--primary-text-color);
      margin-right: 8px;
    }
    &-phone {
      width: 10px;
      height: 14px;
      fill: var(--primary-text-color);
      margin-right: 8px;
    }

    .header-contacts:hover &-email,
    .header-contacts:focus &-email,
    .header-contacts:hover &-phone,
    .header-contacts:focus &-phone {
      fill: var(--accent-color);

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .header-menu-links-nets {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    .logo {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }

    &-menu-phone,
    &-menu-email {
      font-size: 14px;
      line-height: 1.142;
    }
    &-contacts {
      padding: 32px 0;
    }
  }

  .address {
    &-list {
      display: flex;
      margin: 0;
    }

    &-item {
      display: block;
      align-items: center;
      margin-bottom: 0px;
      margin: 32 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .contacts-icon {
    &-email {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
    &-phone {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

// .header {
//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .logo {
//     margin-right: 92px;
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }
// }

// .border-header {
//   border-bottom: 1px solid #ececec;
// }
// .navigation-list {
//   display: flex;
//   align-items: center;
// }

// .list.address {
//   display: flex;
// }

// .navigation-page,
// .header-contacts {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .navigation-item:not(:last-child),
// .address-item:not(:last-child) {
//   margin-right: 50px;
// }

// a.is-current {
//   display: block;
//   position: relative;

//   color: var(--accent-color);
// }

// .is-current {
//   &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 4px;

//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }

// .navigation-page {
//   color: var(--title-text-color);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .header-address,
// .footer-address {
//   font-style: normal;
// }

// .logo {
//   font-family: "Raleway", sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.192;
//   text-decoration: none;

//   &-first-part,
//   &-first-part:visited {
//     color: var(--accent-color);
//   }

//   &-second-part-header,
//   &-second-part-header:visited {
//     color: #000000;
//   }
// }

// .header-contacts {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   color: var(--primary-text-color);
//   font-size: 14px;
//   line-height: 1.188;
//   font-weight: 500;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//     color: var(--accent-color);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &:visited {
//     color: var(--primary-text-color);
//   }
// }

// .contacts-icon {
//   fill: var(--primary-text-color);
//   margin-right: 10px;

//   .header-contacts:hover &,
//   .header-contacts:focus & {
//     fill: var(--accent-color);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
