/* ===== Our team ===== */
.masters {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    justify-content: space-between;
  }
}

.masters-item {
  background-color: var(--primary-back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.masters-item:not(:last-child) {
  margin-right: 30px;
}

.master-info-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.master-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.master-proffesion {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.master-social-list {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 0px;
  margin-right: 32px;
  margin-left: 32px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-link {
  .master-social-icon {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .master-social-icon,
  &:focus .master-social-icon {
    fill: var(--primary-back-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
